.env
.DS_Store
.capistrano

/.bundle
/.vagrant
/.idea

/log
/tmp
/public/assets
/public/uploads

/config/newrelic.yml
/config/database.yml

*#
*.#*
*~

*.rdb
*.sass-cache

!.gitignore
!.ruby-version
!.ruby-gemset

/public/packs
/public/packs-test
/node_modules
